
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#courses div {
    margin-bottom: 10px;
}

input {
    margin-right: 5px;
}
